body {
    
    color: rgb(39, 20, 206);
    text-align: center ;
    text family: courier;    

}
#container{

    
    background: cornsilk
    width: 70%; color: rgb(687, 6, 6);

    padding: 2cm;
    text-align: left;
    border: 23px solid #da1da1; 
    margin: 0 auto;

}
#CABECERA{
    background: cornflowerblue  10px 10px;
    box-shadow: 0px 2px 20px 0px rgb(194, 117, 117);
    margin: 2%;
    padding: 0,5em;
    margin: 0%;
    font-weight: bold;
}
 #logo{
    width: 20px;
    vertical-align: middle;
}

